<h1>Apartments available</h1>
<%= link_to 'Add', new_flat_path(@flats), class: "btn btn-info" %>


<div class="row m-4">
  <% @flats.each do |flat| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title mb-3"><%= flat.name %></h5>
            <div class="container-fluid">
              <h5 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-people-roof"></i> <%= flat.number_of_guests %>
              <i class="fa-solid fa-sterling-sign"></i> <%= flat.price_per_night %></h5>
            </div>
          <p class="card-text"><%= flat.description %></p>
          <%= link_to 'Details', flat_path(flat), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-success" %>
          <%= link_to "Delete", flat_path(flat), method: 'delete', data: { confirm: "Delete task: Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
